version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - ./:/usr/src/app:cached
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    command: sh -lc "npm install && npm run dev"
    environment:
      - NODE_ENV=development
    restart: unless-stopped
