@import "tailwindcss";

@keyframes marquee-content {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.gray-scroll::-webkit-scrollbar {
    height: 6px;
}

.gray-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.gray-scroll::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(100, 116, 139, 0.6);
}

.gray-scroll:hover::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.7);
}