@import "tailwindcss";

body {
    background-image: url("/background.png");
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    height: 6.5rem;
    transition: height 0.5s ease-in-out;
}

.marquee__item {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
}

.marquee:hover .marquee__item {
    animation-play-state: paused;
}

@keyframes marquee-content {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee:hover {
    height: 100%;

    .marquee__item {
        display: none;
        animation: none;
    }
}