@import "tailwindcss";

body {
    background:
        radial-gradient(circle, hsla(0, 0%, 80%, 0.1) 1px, transparent 1px),
        radial-gradient(circle, hsla(0, 0%, 80%, 0.1) 1px, transparent 1px);
    background-position: 0 0, 0.5rem 0.5rem;
    background-size: 1rem 1rem;
    background-color: #000;
    overflow: hidden;
}

.marquee {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.marquee__item {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
    padding-top: 2rem;
}

@keyframes marquee-content {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee:hover {
    height: 100%;
    max-width: none !important;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.6) transparent;

    .marquee__item {
        animation: none;
        padding: 0.5rem !important;
        width: 95%;
    }

    .items_map {
        flex-direction: column;
    }

    .second_list {
        display: none;
    }

    .tech-name {
        display: inline-block;
        position: relative;
    }

    .tech_stack {
        display: none;
    }
}

.items_map {
    display: flex;
    flex-direction: row;
}

.tech-name {
    display: none;
    position: absolute;
}

.marquee::-webkit-scrollbar {
    height: 6px;
}

.marquee::-webkit-scrollbar-track {
    background: transparent;
}

.marquee::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(100, 116, 139, 0.6);
}

.marquee:hover::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.7);
}