@import "tailwindcss";

body {
    background-image: url("/background.png");
}

.marquee {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    height: 6.5rem;
    transition: height 0.1s ease-in-out;
    width: 100%;
}

.marquee__item {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: marquee-content;
    animation-timing-function: linear;
    padding-top: 2rem;
}

@keyframes marquee-content {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

.marquee:hover {
    height: 100%;
    max-width: none !important;
    width: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 116, 139, 0.6) transparent;

    .marquee__item {
        animation: none;
        padding: 0.5rem !important;
        width: 95%;
    }

    .items_map {
        flex-direction: column;
    }

    .second_list {
        display: none;
    }

    .tech-name {
        opacity: 1;
        position: relative;
    }

    .tech_stack {
        opacity: 0;
    }
}

.items_map {
    display: flex;
    flex-direction: row;
}

.second_list {
    opacity: 1;
}

.tech-name {
    opacity: 0;
    position: absolute;
}

.tech_stack {
    opacity: 1;
}

.marquee::-webkit-scrollbar {
    height: 6px;
}

.marquee::-webkit-scrollbar-track {
    background: transparent;
}

.marquee::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(100, 116, 139, 0.6);
}

.marquee:hover::-webkit-scrollbar-thumb {
    background-color: rgba(148, 163, 184, 0.7);
}